# Conda environment for building and testing ml-metadata on Linux
name: mlmd-dev
channels:
  - conda-forge
dependencies:
  # Note: Bazel is installed separately via official installer (conda package is unreliable)
  - setuptools
  - wheel
  - pip
  - numpy
  - pytest
  - pytest-cov
  - patchelf  # For wheel repair on Linux
  - cmake=3.29

  - gcc_linux-64
  - gxx_linux-64
  - sysroot_linux-64=2.17  # CentOS 7/manylinux2014 compatible glibc headers

  - pip:
    - auditwheel  # For manylinux wheel compliance
